{% extends 'restaurants/base.html' %}
{% block content %}
  {% if user.is_authenticated %}
    <h2>Delete restaurant</h2>

    <p>
      Are you sure you want to delete restaurant <strong>{{ restaurant.name }}</strong>?
    </p>

    <form method="post">
      {% csrf_token %}
      <button type="submit">Yes, delete</button>
    </form>

    <p>
      <a href="restaurants:restaurant_list">No, go back</a>
    </p>
  {% else %}
    <p>You must be logged in to delete a restaurant</p>
  {% endif %}
{% endblock %}
