{% extends 'restaurants/base.html' %}
{% block content %}
  <div class="row">
    <div style="width: fit-content;">
      <h1>{{ restaurant.name }}</h1><br />
      {% if average_rating != None %}
        <h2>Average Rating</h2>
        <h3>{{ average_rating }}/10</h3><br />
      {% endif %}
      <h2>Address</h2>
      <h3>{{ restaurant.address }}</h3><br />
      <h2>Menu</h2>
      <h3>{{ restaurant.menu_type }}</h3><br />
    </div>
    <div style="width: fit-content;">
      <img class="big-image" src="{{ restaurant.photo.url }}" alt="{{ restaurant.name }}" />

      <h6>Added by: {{ restaurant.created_by }}</h6>
      {% if restaurant.created_by == user %}
        <a href="{% url 'restaurants:delete_restaurant' pk=restaurant.pk %}?goto={{ request.get_full_path }}"><button type="button">Delete restaurant</button></a>
      {% endif %}
    </div>
  </div>
  <h2>Comments</h2>
  <hr />
  {% if reviews %}
    <ul>
      {% for review in reviews %}
        <li>
          <h4>{{ review.created_by }}</h4>
          <h5>{{ review.rating }}/10</h5>
          {% if review.comment_text %}
            <p>{{ review.comment_text }}</p>
          {% endif %}
          {% if review.created_by == user %}
            <a href="{% url 'restaurants:delete_review' pk=review.pk %}?goto={{ request.get_full_path }}"><button type="button">Delete review</button></a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    Be the first to leave a review!
  {% endif %}

  {% if can_leave_a_comment %}
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Add review</button>
    </form>
  {% endif %}
{% endblock %}
